
#root {
    max-width:  1280px;
    margin:     0 auto;
    padding:    2rem;
    text-align: left;
    
    --rt-color-dark:               rgba(7, 7, 7, 7);
    --rt-color-success:            #8dc572;
    --rt-color-error:              #be6464;
    --rt-color-warning:            #f0ad4e;
    --rt-color-info:               #337ab7;
    --rt-opacity:                  0.9;
    --rt-transition-show-delay:    0.25s;
    --rt-transition-closing-delay: 0.25s;
    
    overflow-x: hidden;
}

.house_floor {
    display:         flex;
    justify-content: center;
    flex-direction:  row;
}

.room_button {
    min-height:    250px;
    min-width:     250px;
    border-bottom: 3px solid transparent;
    
    background-color: transparent;
    position:         absolute;
}
.room_button:active {
    border-color: black;
}

#sky {
    background-color: blue;
    height: 100vh;
    width: 100vw;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: -1;
}


@media (max-width: 576px) { /* PHONE RESOLUTION */
    .house_floor {
	display:         flex;
	justify-content: center;
	flex-direction:  column;
    }
}
