
#room_container {
    /* border: 2px solid red; */
    
    position: absolute;
    left: 50%;
    top:  50%;
    transform: translate(-50%, -50%);
    
    border-radius: 15px;
    height:        100%;
    width:         90%;
    
    display:         flex;
    justify-content: center;
    flex-direction:  row;
    
    overflow-y: hidden;
}
.room_content_image {
    display:           flex;
    justify-content: center;
    flex-direction:  column;
}
.room_content {
    display:         flex;
    justify-content: start;
    flex-direction:  column;
    
    height: 100%;
    width:  100%;
    
    padding:        15px;
    padding-right:  40px;
    overflow-y: auto;
    overflow-x: hidden;
}
.room_content h1 {
    text-decoration: underline white;
}
.room_content div {
    margin-bottom: 15px;
}
.card {
    background-color: rgba(7, 7, 7, 255);
    border-radius: 10px;
    padding: 15px;
}
.card ul {
    border-left: 2px solid orange;
    padding-left: 25px;
    margin-top:   15px;
    margin-bottom:15px;
}
.text_justify {
    text-align: justify;
}
.text_left {
    text-align: left;
}
.text_right {
    text-align: right;
}
.text_center {
    text-align: center;
}
.italic {
    text-style: italic;
}

.summary {
    display:         flex;
    justify-content: start;
    align-items:     flex-end;
    flex-direction:  row;
}
.summary p {
    height: 20px;
}

.back_link {
    display:         flex;
    justify-content: center;
    flex-direction:  row;
    min-width:       100%;
}
.back_link p {
    min-width: 33%;
    width:     33%;
}

.ball {
    height:              5px;
    width:               5px;
    border-radius:      15px;
    margin-right:       25px;
    margin-top:         20px;
}
.orange_ball {
    border: 5px solid orange;
    background-color: orange;
}
.purple_ball {
    border: 5px solid purple;
    background-color: purple;
}
.green_ball {
    border: 5px solid green;
    background-color: green;
}

.buttons {
    display:         flex;
    justify-content: center;
    flex-direction:  row;
    
    height:          100%;
    width:           100%;
    
    border: 2px solid white;
}

.website-button {
    margin: 2px;
    transition: 0.3s, visibility 0.3s;
}
.website-text-button {
    text-align: justify;
    
    transition: 0.3s, visibility 0.3s;
    word-break: break-all;
}

.website-button {
    -webkit-transform:  translate(0px, 0px);
    -webkit-transition: 0.3s, visibility 0.3s;
}

.website-button:hover {
    -webkit-transform: translate(0px, -5px);
}

.most-recent-log {
    color: orange;
}
.log {
    color: purple;
}

.computer_content {
    display:           block;
    justify-content:   center;
    justify-direction: column;
    align-items:       center;
    
    min-height: 80%;
    max-height: 80%;
    min-width:  50%;
    
    position:  absolute;
    top:       50%;
    left:      50%;
    transform: translate(-50%, -50%);
    
    padding: 15px;
    
    overflow-x: hidden;
    overflow-y: auto;
}
.computer_header {
    background-color: rgba(7, 7, 7, 255);
    padding:          15px;
    
    min-height: 150px;
}
.computer_posts_container {
    min-width:  100%;
    width:      100%;
    min-height: 100%;
    height:     100%;
}
.computer_post {
    background-color: rgba(15, 15, 15, 255);
    padding:          15px;
    
    min-height:       200px;
    
    border-right: 50px solid rgba(15, 15, 15, 255);
    border-left:  50px solid rgba(15, 15, 15, 255);
    border-bottom: 2px solid rgba(7, 7, 7, 255);
    
}


@media (max-width: 1280px) {
    .room_content_image img {
	width:  350px;
	height: 350px;
    }
}

/* @media (max-width: 576px) { /\* PHONE RESOLUTION *\/ */
@media (max-width: 1000px) {
    #room_container {
	display:         flex;
	justify-content: center;
	flex-direction:  column;

	overflow-x: hidden;
	overflow-y: hidden;
	
	min-height: 100%;
	height:     100%;
	min-width:  100%;
	width:      100%;
    }
    .room_content_image {
	display:         flex;
	justify-content: center;
	flex-direction:  column;
    }
    .room_content {
	min-height: 100%;
	min-width:  92%;
	width:      92%;
	
	margin-top: 500px;
	
	overflow-x: hidden;
	overflow-y: auto;
    }
    .card ul {
	border-left: none;
	margin-left: 25px;
    }
    
    .computer_content {
	display:           block;
	justify-content:   center;
	justify-direction: column;
	align-items:       center;
	
	min-height: 80%;
	max-height: 80%;
	min-width:  100%;
	
	position:  absolute;
	top:       50%;
	left:      50%;
	transform: translate(-50%, -50%);
	
	overflow-x: hidden;
	overflow-y: auto;
    }
}
