
html, body {
    font-family:            "MathJax_Typewriter" "Courier New", "Courier", "Times New Roman";
    line-height:            1.5em;
    letter-spacing:         2px;
    background:             black;
    
    color:                  white;
    
    margin:                 0px !important;
    padding:                0px !important;
    
    height:                 100%;
    width:                  100%;
}

#main {
    display:                flex;
    justify-content:        center;
    flex-direction:         column;
    
    min-width:              100%;
    width:                  100%;
}

#panning_container {
    display:                flex;
    justify-content:        center;
    flex-direction:         row;
    background:             linear-gradient(0deg, rgba(26,25,64,1) 15%, rgba(26,50,80,1) 65%, rgba(25,120,227,1) 100%);
}

house {
    background-color:       black;
    
    display:                flex;
    justify-content:        center;
    flex-direction:         column;
    
    overflow-x:             hidden;
}

.house_floor {
    background-color:       black;
    
    justify-content:        center;
    display:                flex;
    flex-direction:         row;
    
    max-width:              1100px;
    width:                  1100px;
    min-width:              1100px;
    max-height:             350px;
    height:                 350px;
    min-height:             350px;
}

.room {
    max-height:             500px;
    max-width:              500px;
    height:                 350px;
    width:                  350px;
    min-height:             100px;
    min-width:              100px;
    
    -webkit-pointer-events: none;
    -moz-   pointer-events: none;
    -ms-    pointer-events: none;
            pointer-events: none;
     
    -webkit-user-select:    none;
    -moz-   user-select:    none;
    -ms-    user-select:    none;
            user-select:    none;
    
}

.room_button {
    position:               relative;
    left:                   50%;
    top:                    50%;
    transform:              translate(-50%, -50%);
    
    /* border-radius:          15px; */
    /* border:                 2px dashed white; */
    
    min-height:             100px;
    min-width:              100px;
    height:                 100px;
    width:                  100px;
}

.room_button .link {
    min-height:             100%;
    min-width:              100%;
    height:                 100%;
    width:                  100%;
}

#panning_container {
    width:                  100%;
    height:                 100%;
    
    justify-content:        center;
    display:                flex;
    flex-direction:         row;
}

#house {
}

#ground {
    background-color:       black;
    
    min-height:             350px;
    min-width:              100%;
}

.centralizer {
    display:                flex;
    justify-content:        center;
    align-items:            center;
}

.invisible_button {
    /* border:                 2px dashed white; */
    border:                 none;
    background:             none;
    
    position:               absolute;
    transform:              translate(-50%, -50%);
    min-height:             100px;
    min-width:              100px;
    
    border-radius:          15px;
    outline:                none;
}
